.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overscroll-behavior: contain;
    background-color: rgba(0, 0, 0, 80%);

    .modal {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        display: flex;

        .modal-content {
            width: fit-content;
            height: fit-content;
            margin: auto;

            #modal-image {
                width: 100%;
                max-width: 90vw;
                height: auto;
                max-height: 90vh;
                pointer-events: none;
            }
        }
    }
}